@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* Colors */
:root {
  /* Primary */
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  /* ### Accent */
  --blue: hsl(248, 32%, 49%);

  /* ### Neutral */
  --darkBlue: hsl(249, 10%, 26%);
  --grayishBlue: hsl(246, 25%, 77%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
  background: none;
  display: block;
  color: currentColor;
}

main {
  display: grid;
  justify-items: center;
  align-items: center;
  color: #fff;
}

.grid-container {
  max-width: 375px;
  background: var(--red);
  background-image: url("../images/bg-intro-mobile.png");
  grid-template-areas: "intro" "cta" "signup";
}

.intro {
  grid-area: intro;

}

.intro h1 {

}

.cta {
  grid-area: cta;
}

.cta-button {
  background: var(--blue);
}

.cta-button .bold {
  font-weight: 600;
}


.signup {
  grid-area: signup;
}

.form {
  background: #fff;
}

.form-button {
  background: var(--green);
}




/* footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--red);
}